@import url(./default.css);
.img-cont {
    width: 40%;
    aspect-ratio: 1 / 1;
    margin: 0 3em;
}
.img-cont img {
    width: 100%;
}
main {
    flex-direction: row;
    justify-content: space-around;
}
.info {
    width: 30%;
    display: flex;
}

