@import url(./default.css);
main {
    padding: 2rem;
}
h1 {
    color: #026288;
}
p {
    margin-bottom: 2.5rem;
}

@media (max-width: 460px) {
  main {
    min-height: calc(100vh - 5.5rem);
    justify-content: flex-start;
    height: 145vh;
  }
  

}