@import url(./default.css);
.names {
    display: none;
    margin: 1em 0;
    font-size: 1.2em;
}
.names.visible {
    display: block;
}
.container * {
    margin: .5em;
}
.players {
    margin: .6em;
}
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: hsl(0, 0%, 94%);
    border-radius: 10px;
    height: 60%;
    width: 40%;
}

@media (max-width: 460px) {
    main {
        justify-content: flex-start;
    }
    .container * {
        margin: 0;
    }
    .main-container * {
        margin: .8em;
    }
}



