@import url(./default.css);

.container {
    height: 50vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container:nth-child(2) {
    background: rgb(2, 81, 112);
    width: 50vw;
    border-radius: 8px;
    color: white;
    flex-direction: row;
    align-items: center;
}
h1 {
    margin: 1rem;
}
p{
    text-transform: capitalize;
    font-size: 2rem;
}
.picker {
    width: 15%;
    aspect-ratio: 1 / 1;
    background: white;
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}
.disappear {
    display: none;
}
.info-begin {
    text-transform: capitalize;
    margin-top: 1rem;
    font-size: 1.3rem;
}